* {
    box-sizing: content-box;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #bae9ff;
    text-transform: uppercase;
    font-size: 36px;
}

h4 {
    color: #bae9ff;
    font-family: 'Open Sans', sans-serif;
    
}

body {
    font-family: sans-serif;
    background-color: rgb(5, 74, 77);
    position: relative;
}

.maintext {
    color: #FDF5DC;
    font-family: 'Open Sans', sans-serif;
}

#my-pic {
    position: relative;
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #FDF5DC;
    text-indent: 30px;
}

#quiz-button {
    text-transform: uppercase;
    padding: 20px;
    font-size: 26px;
    cursor: pointer;
    border: solid 4px;

}